{% load static %}
<section class="container-fluid  footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md col-md-4 mb-4 mb-md-0">
                <h3>
                    <div class="text-light">About Us</div>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam itaque unde
                    facere repellendus, odio et iste voluptatum aspernaturs o et iste voluptatum aspernaturs!</p>
                <ul class="list-unstyled quick-info mb-4">
                    <li class="d-flex align-items-center"><span class="icon mr-3 fa fa-mobile"></span>+91
                            8393089650</li>
                    <li class="d-flex align-items-center"><span class="icon mr-3 fa fa-envelope"></span>
                            sajalbansal2010@gmail.com</li>
                </ul>
            </div>

            <div class="col-md col-md-4 mb-4 mb-md-0 ml-auto mr-auto">
                <h3>
                    <div class="text-light">Office</div>
                </h3>
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=+28.4057599,+78.1026972"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col-md col-md-3 mb-2 mb-md-0  ml-auto mr-auto">
                <div class="text-light">
                    <h3>Usefull Links</h3>
                </div>
                <ul>
                    <li><i class='bx bx-chevron-right'></i><a href="/#">Home</a></li>
                    <li><i class='bx bx-chevron-right'></i><a href="/services">Services</a></li>
                </ul>
                
            </div>
        </div>
    </div>
</section>

<section class="container-fluid text-white footer text-center">
    <h2>&copy;Copyright <b>Foundation</b>. All Rights Reserved</h2>
    <p>Designed & Developed by <b>SAJAL BANSAL</b></p>
    <ul class="in">
        <li><a><i class='fab fa-twitter fa-lg'></i></a></li>
        <li><a><i class='fab fa-linkedin'></i></a></li>
        <li><a><i class="fab fa-facebook"></i></a></li>
        <li><a><i class="fab fa-instagram"></i></a></li>
    </ul>
</section>